.about__bg {
    position: relative;
    padding-top: 92px;
    min-height: 56vw;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(../img/redbanner.png),
    linear-gradient(
        #222 20%,
        #222 50%,
        #F0F4F4 50%,
        #F0F4F4 100%
    );
    background-size: 100%;
}
.about__bg::before,.about__bg::after{
content: '';
position: absolute;
background-image: url(../img/Tire.svg);
background-repeat: no-repeat;
background-position: center/contain;
pointer-events: none;
height: 25vw;
left: 0;
right: 0;
}
.about__bg::after{
    top: -100px;
}
.about__bg::before{
    bottom: -150px;
}
.conteiner__about {
    padding-top: 350px;
    display: flex;
    justify-content: center;
    gap: 120px;
}
.about__title {
    display: flex;
    flex-direction: column;
}
.about__title-up{
color: #FFF;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 96px */
text-transform: uppercase;
}
.about__title-down{
color: #222;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 120%;
text-transform: uppercase;
text-align: right;
}
.about__text{
padding: 42px 0;
color: #FFF;
max-width: 451px;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}